*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.slider-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fb6900;
    gap: 2rem;

}

.message{
    display: inline;
    margin: auto 2rem;
}